/*navbar*/
.bg-light {
    background-color:#FBFBFF !important;
}

nav {
    font-family: 'Roboto Mono', monospace;
    font-weight:900;
}

.logo-izzy {
    font-family: 'Bitter', serif;
    font-size:30px;
}

.social-media {
    color:#000000;
    margin-right:15px;
    text-decoration:none;
}

.social-media:hover {
    color:#B8A018;
}

/*body*/
body {
    background-color:#FBFBFF;
}

h1 {
    font-family: 'Bitter', serif;
    font-weight:900;
}

h2 {
    font-family: 'Bitter', serif;
    font-weight:400;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size:18px;
}

.bio {
    display:flex;
    align-items:center;
}

.more-space {
    margin-top:80px;
    margin-bottom:50px;
}